
<div class="nav flex-column nav-pills">
    <NavLink class="nav-link" href="">Accueil</NavLink>
    <NavLink class="nav-link" href="counter">Counter</NavLink>
    <NavLink class="nav-link" href="pizzas">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Pizzas
    </NavLink>
    <NavLink class="nav-link" href="checkout">
        <span class="oi oi-credit-card" aria-hidden="true"></span> Commande
    </NavLink>
</div>
