@page "/order-review"
@inject PizzaAppBlazor.Data.OrderState OrderState

<h3>Récapitulatif de votre commande</h3>

@if (OrderState.CurrentOrder.Pizzas.Any())
{
    <ul>
        @foreach (var pizza in OrderState.CurrentOrder.Pizzas)
        {
            <li>@pizza.Name - @pizza.BasePrice €</li>
        }
    </ul>
}
else
{
    <p>Aucune pizza commandée.</p>
}
